.contacts-link:hover {
    color: darkblue;
}

.contacts-link {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 25px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1px;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.contacts-phone {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.nav-studio {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 453px;
    top: -34px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: rgb(0, 0, 0);

width: 50px;
border-bottom: 4px solid rgb(28, 103, 202);
}

.nav-portfolio {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 548px;
    top: -35px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #000000;
}

.nav-contacts {
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: -35px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color:black;

}


.hero-effect {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white
}

.but {
    position: absolute;
    width: 152px;
    height: 40px;
    left: 714px;
    top: 400px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background-color: #2aa5addc;


    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: white;
}

.nav-web {
    position: absolute;
    width: 24px;
    height: 25px;
    left: 215px;
    top: -42px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 0.06em;

    color: #1410d3;
}

.nav-li {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}




.nav {
    display: flex;
}




.nav {
    position: absolute;
    width: 1500px;
    height: 500px;
    top: 55px;
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.hero-divi {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 730px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}



.hero-div2{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 730px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}


.hero-nav {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1135px;
    top:  730px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}



.hero-p {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 730px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.div {
    display: flex;
}

.li-one {
    position: absolute;
    width: 270px;
    height: 72px;
    left: 215px;
    top: 760px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}


.li-two {
    position: absolute;
    width: 270px;
    height: 48px;
    left: 515px;
    top: 760px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}

.li-chree {
    position: absolute;
    width: 270px;
    height: 48px;
    left: 815px;
    top: 760px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;
}


.li-fore {
    position: absolute;
    width: 270px;
    height: 72px;
    left: 1115px;
    top: 760px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}
    




.hero-divi::after {
content: "";
display: block;
position: absolute;

width: 270px;
height: 120px;

background:#F5F4FA;

background-image: url(img/Vector.png);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
left: -10px;
top: -122px;
}


.hero-div2::after {
content: "";
display: block;
position: absolute;

width: 270px;
height: 120px;

background: #f4f4f5;

background-image: url(img/Vector\ \(1\).png);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
left: -10px;
top: -122px;
}


.hero-nav::after {
    content: "";
    display: block;
    position: absolute;

    width: 270px;
    height: 120px;

    background: #f4f4f5;

    background-image:url(img/Vector\ \(2\).png) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: -122px;
    left: -329px;
}


.hero-p::after {
    content: "";
        display: block;
        position: absolute;
    
        width: 270px;
        height: 120px;
    
        background: #f4f4f5;

        background-image: url(img/Vector\ \(3\).png);
            background-repeat: no-repeat;
                background-size: contain;
                background-position: center;                 
                top:-122px ;
                left: 290px;
}



.hero-h1 {
    position: absolute;
        width: 366px;
        height: 42px;
        left: 617px;
        top: 920px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}





.hero-ul {
    display: flex;
    justify-content: center;
position: absolute;
top: 1055px;
left: 100px;
}


{
position: relative;
width: 370px;
}

.hero-list---item:not(:last-child){
margin-right: 30px;
}

.hero-img{
}



.wrapper1 {
position: absolute;
bottom:0;

width: 370px;
height: 70px;

top: 220px;

background: rgba(47, 48, 58, 0.8);

} 


.wrapper2 {
position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;

    top: 220px;

    background: rgba(47, 48, 58, 0.8);
}



.wrapper3 {
position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;

    top: 220px;

    background: rgba(47, 48, 58, 0.8);
}


.hero-text---t {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
margin-top: -51px;
margin-left: 110px;
margin-bottom: 11px;
color: #ffffff;
    
}


.hero-text----r {
    position: absolute;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
margin-top: -51px;
    margin-left: 110px;
    margin-bottom: 11px;
}

.hero-text-----h {
    position: absolute;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
margin-top: -51px;
    margin-left: 90px;
    margin-bottom: 11px;
}


.overlay {
position: absolute;
    width: 1500px;
    height: 480px;
    left: 0px;
    top: 50px;

padding-top: 20px;
padding-bottom: 20px;


background-color: rgba(47, 48, 58, 0.4);
}




/*-------------------------------------------------TEAm=---------------------------------*/


.team {
    position: absolute;
        width: 1600px;
        height: 608px;
        left: 30px;
        top: 1476px;
        background-color: #f5f4fa;
}

.team__heading {
    width: 264px;

    margin: 0 auto 50px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.team__list {
position: absolute;
    width: 270px;
    height: 428px;
    left: 75px;
    top: 120px;
}



.team__item22 {
    border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
        width: 270px;
        height: 358px;
        left: 35px;
        top: -18px;
}


.team__item:not(:last-child) {
    margin-right: 30px;
}

.team-img {
    width: 270px;
    height: 260px;
}

.team__title {
    margin: 0 auto 10px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 0.03em;

    color: #212121;
}

.profeesion {
    margin: 0 auto 15px;
    margin-left: 60px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 0.03em;

    color: #757575;
}

.social__links {
    display: flex;
}

.social__links--item {
    width: 44px;
    height: 44px;
}

.social__links--item:not(:last-child) {
    margin-right: 10px;
}

.social__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #afb1b8;
    transition: background-color 300ms linear, color 300ms linear;
}

.social__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.social__link:hover {
    background-color: #2196f3;
    color: #ffffff;
}







.team__item2 {
border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);


    position: absolute;
        width: 270px;
        height: 358px;
        left: 335px;
        top: -1px;
}


.team__item:not(:last-child) {
    margin-right: 50px;
}

.team-img {
    width: 270px;
    height: 260px;
}

.team__title {
    margin: 0 auto 10px;
    margin-left: 83px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;

    letter-spacing: 0.03em;

    color: #212121;
}

.profeesion {
    margin: 0 auto 15px;
    margin-left: 80px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 0.03em;

    color: #757575;
}

.social__links {
    display: flex;
}

.social__links--item {
    width: 44px;
    height: 44px;
}

.social__links--item:not(:last-child) {
    margin-right: 10px;
}

.social__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #afb1b8;
    transition: background-color 300ms linear, color 300ms linear;
}

.social__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.social__link:hover {
    background-color: #2196f3;
    color: #ffffff;
}




.team__item3 {
border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);


    position: absolute;
    width: 270px;
    height: 358px;
    left: 645px;
    top: -1px;
}


.team__item:not(:last-child) {
    margin-right: 50px;
}

.team-img {
    width: 270px;
    height: 260px;
}

.team__title {
    margin: 0 auto 10px;
    margin-left: 83px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;

    letter-spacing: 0.03em;

    color: #212121;
}

.profeesion {
    margin: 0 auto 15px;
    margin-left: 62px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 0.03em;

    color: #757574;
}

.social__links {
    display: flex;
}

.social__links--item {
    width: 44px;
    height: 44px;
}

.social__links--item:not(:last-child) {
    margin-right: 10px;
}

.social__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #afb1b8;
    transition: background-color 300ms linear, color 300ms linear;
}

.social__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.social__link:hover {
    background-color: #2196f3;
    color: #ffffff;
}







.team__item4 {
    border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    
        position: absolute;
        width: 270px;
        height: 358px;
        left: 960px;
        top: -1px;
    }
    
    
    .team__item:not(:last-child) {
        margin-right: 50px;
    }
    
    .team-img {
        width: 270px;
        height: 260px;
    }
    
    .team__title {
        margin: 0 auto 10px;
        margin-left: 83px;
    
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 10px;
    
        letter-spacing: 0.03em;
    
        color: #212121;
    }
    
    .profeesion {
        margin: 0 auto 15px;
        margin-left: 92px;
    
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    
        letter-spacing: 0.03em;
    
        color: #757575;
    }
    
    .social__links {
        display: flex;
    }
    
    .social__links--item {
        width: 44px;
        height: 44px;
    }
    
    .social__links--item:not(:last-child) {
        margin-right: 10px;
    }
    
    .social__link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: #afb1b8;
        transition: background-color 300ms linear, color 300ms linear;
    }
    
    .social__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
    
    .social__link:hover {
        background-color: #2196f3;
        color: #ffffff;
    }




    .about {
        position: absolute;
            width: 280px;
            height: 150px;
            left: 70px;
            top: -900px;

    }


.about--paragraf {
    position: absolute;
        width: 297px;
        height: 42px;
        left: 570px;
        top: 1418px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}



.about----dndkhid {
box-sizing: border-box;

    position: absolute;
    width: 270px;
    height: 160px;
    left: -50px;
    top: 1590px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
}



.about----dndkhid1111 {
box-sizing: border-box;

    position: absolute;
    width: 270px;
    height: 170px;
    left: 250px;
    top: 1590px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
}




.about----dndkhi13332 {
    box-sizing: border-box;
    
        position: absolute;
        width: 270px;
        height: 150px;
        left: 580px;
        top: 1590px;
    
        border: 1px solid #AFB1B8;
        border-radius: 4px;
}



.about----dn2wtsf {
    box-sizing: border-box;
    
        position: absolute;
        width: 270px;
        height: 150px;
        left: 890px;
        top: 1590px;
    
        border: 1px solid #AFB1B8;
        border-radius: 4px;
}


.about----dn2wtsf111223 {
    box-sizing: border-box;
    
        position: absolute;
        width: 270px;
        height: 150px;
        left: 1210px;
        top: 1590px;
    
        border: 1px solid #AFB1B8;
        border-radius: 4px;
}



.about----dn2wtsf111QQQQ3 {
    box-sizing: border-box;
    
        position: absolute;
        width: 270px;
        height: 150px;
        left: 1510px;
        top: 1590px;
    
        border: 1px solid #AFB1B8;
        border-radius: 4px;
}




.foter {
    position: absolute;
        width: 2060px;
        height: 252px;
        left: -198px;
        top: 1976px;
    
        background: #2F303A;
}

.SPAN000 { 
    color: blue;
    position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 76px;
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
}


.spaning { 
    position: absolute;
        width: 145px;
        height: 31px;
        left: 270px;
        top: 76px;
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;

    
        letter-spacing: 0.03em;
    
        color: #f4f4f5;
}


.adresss {
    position: absolute;
        width: 231px;
        height: 21px;
        left: 215px;
        top: 102px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    
        letter-spacing: 0.03em;
    
        color: white ;
}


.contacts-link1212 {
    position: absolute;
        width: 231px;
        height: 21px;
        left: 215px;
        top: 137px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    
        letter-spacing: 0.03em;
    color: #757575;
        
}



.ul1213--phone {
    position: absolute;
        width: 231px;
        height: 21px;
        left: 215px;
        top: 157px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    
        letter-spacing: 0.03em;
        color: #AFB1B8;
} 




.foter------p {
    position: absolute;
        width: 116px;
        height: 16px;
        left: 516px;
        top: 83px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: white;
}







.social__icon34343 {
position: absolute ;
width: 30px;
height: 111px;
left: 500px;
top: 90px;
}

.social__icon3434dddf3 {
position: absolute;
    width: 30px;
    height: 111px;
    left: 550px;
    top: 90px;
}



.social__iconQSQDSQAS {
    position: absolute;
        width: 30px;
        height: 111px;
        left: 590px;
        top: 90px;
}



.social__iconQSQDSS111 {
        position: absolute;
            width: 30px;
            height: 111px;
            left: 640px;
            top: 90px;
}





